.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-item-1 {
    grid-column-start : 1;
    grid-column-end : span 1;
    grid-row-start : 1;
    grid-row-end : span 2;
}

.grid-item-2 {
    grid-column-start : 1;
    grid-column-end : span 1;
    grid-row-start : 3;
    grid-row-end : span 2;
}
.grid-item-3 {
    grid-column-start : 1;
    grid-column-end : span 1;
    grid-row-start : 5;
    grid-row-end : span 2;
}
.grid-item-4 {
    grid-column-start : 2;
    grid-column-end : span 1;
    grid-row-start : 1;
    grid-row-end : span 3;
}
.grid-item-5 {
    grid-column-start : 2;
    grid-column-end : span 1;
    grid-row-start : 4;
    grid-row-end : span 3;
}